*.pri
*.pro.user
Makefile
Makefile.Release
Makefile.Debug
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bak
Backup
Release
Debug
build
*.sdf
*.filters
.vs
x64

